@media (max-width: 1050px)

    .inform_items
        display: grid
        grid-template: 1fr 1fr / 1fr 1fr
        row-gap: 40px
        justify-items: center

    .inform_items__item
        margin-right: 0