@media (max-width: 1400px)
    .under_main
        grid-template: 300px / 500px 500px !important

@media (max-width: 1050px)
    .under_main
        grid-template: 450px / 400px 400px !important

@media (max-width: 830px)
    .under_main
        grid-template: 450px / 300px 300px !important

@media (max-width: 620px)
    .under_main
        grid-template: 1fr 1fr / 1fr !important

        &__choose
            ul
                padding: 0 
                margin: 0 10px 0 10px
        &__img 
            display: block
            margin: 0 auto

    .header_list 
        text-align: center


@media (max-width: 500px)
    .under_main
        grid-template: 0.5fr 1fr / 1fr !important

        